# ignore all
*

# unignore all with file extensions
# c compiled files are in binary (no extension),
# so they do not pass this filter
!*.*

# uignore Makefiles
!Makefile
# unignore all directories
!*/

# ignore directory
predavanja
.idea
.vs

# ignore subdirectory and its content
**/build

# ignore file extension
*.exe
*.diff
*.res
*.o